body {
	font-family: sans-serif;
}
p {
	text-align: left;
}
p.indent, span.indent {
	padding-left: 40px;
}
h1 {
	border-bottom: 1px solid dimgray;
	font-size: 2em;
}
h2 {
	border-bottom: 1px solid gray;
	font-size: 1.5em;
}
h3 {
	border-bottom: 1px dashed darkgray;
	font-size: 1.25em;
}
h4 {
	font-size: 1.12em;
	text-align: center;
}
h5 {
	font-size: 1em;
	text-align: center;
}
h6 {
	font-size: 0.92em;
}
hr {
	border: 0;
	border-top: 1px dotted gray;
	padding: 1px;
	border-bottom: 1px solid gray;
}
div.widebar, div.toc {
	background: whitesmoke;
	border: 1px solid darkgray;
	margin: 1em;
	padding: 0.25em;
} div.toc {
	background: #f8f8f8;
	display: table;
}
div.widebar > * {
	margin: 0.75em 0.5em;
} div.toc > * {
	margin: 0.5em 0.25em;
} div.widebar > ul, div.toc > ul, div.widebar > ol, div.toc > ol {
	margin: 1em 0.5em 1em 0em;
}
div.widebar h2, div.toc h2 {
	font-size: 1.25em;
	border: 0;
} div.toc h2 {
	text-align: center;
}
pre {
	font: 1em monospace;
	border: 1px solid gray;
	margin: 1em 0.5em;
	padding: 0.25em;
	overflow: auto;
	min-width: 50%;
}
code {
	font: 1em monospace;
	font-weight: inherit;
	font-style: inherit;
	border: 1px dotted gray;
	padding: 1px 2px;
}
h1 code, h2 code, h3 code, h4 code, h5 code, h6 code, dt code,
.diagram code, .deflist code {
	border: 0;
}
a code {
	border: 0;
	padding: 0;
}
var {
	font-style: italic;
	font-family: serif;
}
div.diagram {
	border: 1px solid gray;
	display: table;
	margin: auto;
}
div.diagram p {
	text-align: center;
	padding: 0 0.5em;
}
div.diagram p:first-child {
	display: table-caption;
	margin: 1em 0;
	font-style: italic;
}
blockquote {
	background: whitesmoke;
	margin: 1em 40px;
	padding: 0.5em;
}
blockquote blockquote {
	background: white;
	border-left: 1em solid lightgray;
	margin: 0.5em;
}
blockquote p:first-child {
	margin-top: 0;
}
blockquote p:last-child {
	margin-bottom: 0;
}
dt {
	font-weight: bold;
}
table {
	border-collapse: collapse;
	border: 2px ridge darkgray;
	margin: 1.5em 1.0em;
}
caption {
	margin: 1em 0;
	font-style: italic;
}
tr {
	background: #f8f8f8;
}
tr:nth-child(odd) {
	background: #e8e8e8;
}
th, td {
	border: 1px solid gray;
	padding: 0.25em;
}
th {
	padding: 0.5em;
}
table.deflist td:first-child {
	font-weight: bold;
}
nav, .nav {
	font-style: italic;
	margin: 1em 0em;
}
header p, .header p {
	font-style: italic;
	margin: 1em 40px;
}
footer, .footer {
	clear: both;
	font-size: smaller;
	text-align: right;
	margin: 1em 0.5em;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.floatleft, .leftside {
	float: left;
	margin: 0.5em 1.0em;
}
.floatright, .rightside {
	float: right;
	margin: 0.5em 1.0em;
}
div.floatleft, div.floatright {
	margin-top: 0 !important;
}
.leftside, .rightside {
	max-width: 49%;
}
.leftico {
	float: left;
	margin: 0.25em 0.5em;
}
.rightico {
	float: right;
	margin: 0.25em 0.5em;
}
.imgborder {
	overflow: auto;
}
.imgborder img {
	border: 1px solid darkgray;
}
.imgframe {
	margin: 1em;
}
.imgframe p {
	text-align: center;
	font-style: italic;
}
.audiofile {
	display: table;
	clear: both;
	float: right;
	margin: 0.25em 0.5em;
	font-size: small;
}
.audiofile > div {
	display: table-row;
}
.audiofile audio, .audiofile > a {
	display: table-cell;
	vertical-align: middle;
	margin: 0;
	padding: 0.125em;
}
.audiofile > a::before {
	content: "\2193\FE0E";
	font-size: large;
}
